@charset "UTF-8";

body{
    background-color: #7a76ec8e;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #454386;
}

h1#principal {
    text-align: center;
    color: #7a76ece3;
    font-size: 35px;
    background-color: #3432649c;

}

h2{
    color: #454386;

}

.basico{
    color: rgba(38, 148, 38, 0.582);
}

.intermediario{
    color: rgb(209, 209, 4);
}

.avançado{
    color: rgb(212, 10, 10);
}